#!/bin/bash
set -e
# set -x

echo "=== Fetching master ip ==="
MASTER_IP=$(hostname -I | awk '{print $1}')

echo "=== Installing K3s master ==="
curl -sfL https://get.k3s.io | {% if k3s_version %}INSTALL_K3S_VERSION={{ k3s_version }}{% endif %} sh -s - server {% if k3s_token %}--token={{ k3s_token }}{% endif %} --tls-san ${MASTER_IP} --cluster-init {{ install_flags }}

echo "=== Preparing Join Command ==="
{% if k3s_token %}
TOKEN="{{ k3s_token }}"
{% else %}
TOKEN=$(sudo cat /var/lib/rancher/k3s/server/node-token)
{% endif %}
JOIN_CMD="curl -sfL https://get.k3s.io | {% if k3s_version %}INSTALL_K3S_VERSION={{ k3s_version }}{% endif %} sh -s - agent --token=${TOKEN} --server https://${MASTER_IP}:6443"
echo "$JOIN_CMD" > /lxa_k8s/join.sh
chmod +x /lxa_k8s/join.sh
echo "$JOIN_CMD"

echo "=== Setting up Context ==="
sudo yq -y -i '
    .clusters[0].name = "lxa-{{ cluster_name }}" |
    .clusters[0].cluster.server = "https://'"${MASTER_IP}"':6443" |
    .contexts[0].name = "lxa" |
    .contexts[0].context.cluster = "lxa-{{ cluster_name }}" |
    .contexts[0].context.user = "lxa-{{ cluster_name }}-admin" |
    ."current-context" = "lxa" |
    .users[0].name = "lxa-{{ cluster_name }}-admin"
' /etc/rancher/k3s/k3s.yaml


echo "=== Setting up Kube config  ==="
sudo k3s kubectl config view --raw > /lxa_k8s/kubeconfig
mkdir -p ~/.kube
sudo k3s kubectl config view --raw > ~/.kube/config
